


<div class="modal fade" id="comfirmpaymentdialogtt" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentcheckdialogTitle">หลักฐานการชำระเงิน</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row img">
                    <div class="card" style="width: 50px;height: 100px;">
                        <img src="..\assets\images\paymentex01.jpg" class="rounded-start-5" alt="..." />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    .cardedit {
        height: 150px;
        width: 80px;
    }

    .img {
        max-width: 100%;
        height: auto;
    }
</style>