.modal-content {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    /* เพิ่มเงาด้านของ modal */
    width: 550px;
    height: 360px;
    border-radius: 45px;

}

.btn {
    width: 110px;
    height: 50px;
    border-radius: 15px;
    font-size: 25px;
    margin-top: 28px;
    margin-right: 81px;
}

.sidebar {
    margin: 40px 0px 0px 50px;

}

.body {
    margin: 5px 0px 0px 80px;

}

.formm {
    width: 300px;
    height: 40px;
    background-color: #dddddd80;

}