<!-- <button type="button" class="btn btn-lg btncustom noto-sans-bold" data-bs-toggle="modal" data-bs-target="#tagging"
    style="background-color: rgb(58, 88, 223); color: aliceblue;">
    สั่งซื้อ
</button> -->

<span data-bs-toggle="modal" data-bs-target="#tagging"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
        fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
    </svg>
</span>


<!-- Modal -->
<div class="modal fade" id="tagging" tabindex="-1" aria-labelledby="taggingLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="sidebar">
                <h3 class="modal-title" id="taggingLabel" style="margin-bottom: 5px;">กรอกเลข Tracking number</h3>
                <hr style="width: 400px;  margin-top: 2px;">
                <h6 style="color: rgb(255, 0, 0); margin-top: -5px;">หมายเลขคำสั่งซื้อ #{{item.order_id}}</h6>
            </div>

            <div class="modal-body body" style="text-align: center;">
                <select class="form-select formm" aria-label="Default select example" #t (change)="callType(t.value)">
                    
                    <option *ngFor="let item of shipment"  [value]="item">{{item}}</option>
                </select>
                <div class="mb-2 " style="   margin-top: 20px;">
                    <input class="form-control formm" [formControl]="trackingNo" type="text" placeholder="รหัสพัสดุ">
                </div>
                <div>
                    <button type="button" class="btn"
                        style="background-color: rgb(18, 255, 101); margin-right: 20px;" (click)="OrderAddTrackingNumber()" data-bs-dismiss="modal">ยืนยัน</button>
                    <button type="button" class="btn " style="background-color: rgb(255, 160, 105); color: aliceblue;"
                        data-bs-dismiss="modal">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
</div>