.card-table {
    width: 103%;
    height: 45px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-collapse: collapse;

    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0.1, 0.1);
    /* เพิ่มเงา */

}



.sidebar {
    margin-right: 104px;
}

.text {
    font-size: 14px;
}

.card-table1 {
    width: 80%;
    height: 45px;
    border-radius: 15px;
    margin-right: 30px;
    margin-top: 20px;
    background-color: #dcdcdc;
    border: #dcdcdc;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin-top: 45px;
    color: rgb(87, 87, 87);

}

.textpp {
    font-size: 15px;
    color: gray;
    font-size: 17px;
}