<div class="row" style="padding-left: 180px;">
    <div class="col-5" style="padding-top: 20px;">
        <b style="font-size: 30px;">Product Management</b>
        <p style="font-size: 18px;">จัดการสินค้า</p>
    </div>
    <div class="row">
        <div class="col-7">
            <div class="search-and-col-container d-flex ">
                <div class="col-5 search-and-col-container d-flex">
                    <div class="search-box" style="padding-left: 14px;">
                        <input type="text " placeholder="Search...">
                    </div>
                </div>
                <div class="col-7">
                    <button type="button" class="btn btn-secondary">SEARCH</button>
                </div>
                <div class="col-9 d-flex" style="justify-content: end; padding-right: 10px;">
                    <button type="button" class="btn btn-secondary">ADD</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container sidebar">
        <div class="row">
            <div class="card-table1" style="margin-top: 17px;">
                <div class="">
                    <div class="row" style="margin-top: 8px; display: grid; grid-template-columns: 2fr 2fr 2fr 1.5fr 2fr 1.5fr;">
                        <div class="col" style="padding-left: 10px;">
                            Product Name
                        </div>
                        <div class="col" style="padding-left: 5px;">Category</div>
                        <div class="col" style="padding-left: 0px;">Color</div>
                        <div class="col" style="padding-left: 0px;">Price</div>
                        <div class="col" style="padding-left: 40px;">Amount</div>
                        <div class="col" style="padding-left: 30px;">Action</div>

                    </div>
                </div>



                <div class="card-table" style="margin: 30px 0px 0px -15px;" data-bs-toggle="modal" data-bs-target="#comfirmorderdialog">
                    <div class="">
                        <div class="row text" style="margin-top: 8px; display: grid; grid-template-columns: 1fr 2fr 2fr 1.5fr 2fr 1.5fr;">
                            <div class="col" style="padding-left: 20px;">Nike Air Max 90</div>
                            <div class="col" style="padding-left: 120px;">Shoe</div>
                            <div class="col" style="padding-left: 75px; ">สีแดงดำ</div>
                            <div class="col" style="padding-left: 50px; ">5,200</div>
                            <div class="col" style="padding-left: 80px; ">100
                            </div>
                            <div class="col" style="padding-left: 60x;">5,200</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>