<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Thai:wght@100..900&display=swap"
    rel="stylesheet" />

<div class="container sidebar">
    <div class="row">
        <div class="card-table1" style="margin-top: 17px; width: 100%;">
            <div class="">
                <div class="row text-center"
                    style="margin-top: 8px; display: grid; grid-template-columns: 2fr 2fr 2fr 1.5fr 2fr 1.5fr;">
                    <div class="col" style="padding-right: 90px;">
                        หมายเลขคำสั่งซื้อ
                    </div>
                    <div class="col" style="padding-right: 180px;">วันที่</div>
                    <div class="col" style="padding-right: 100px;">ลูกค้า</div>
                    <div class="col" style="padding-right: 50px;">สถานะจ่ายเงิน</div>
                    <div class="col" style="padding-left: 40px;">สถานออเดอร์</div>
                    <div class="col" style="padding-left: 30px;">รวม</div>

                </div>
            </div>



            <div class="card-table" style="margin: 20px 0px 0px -15px;" data-bs-toggle="modal" (click)="onmodal(item!)"
                data-bs-target="#comfirmorderdialog" *ngFor="let item of OrderList$ |async">
                <div class="text-center">
                    <div class="row text"
                        style="margin-top: 12px; display: grid; grid-template-columns: 1fr 2fr 2fr 1.5fr 2fr 1.5fr;">
                        <div class="col" style="padding-left: 20px;">{{ item.order_id}}</div>
                        <div class="col" style="padding-left: 40px;">{{ item.createdDate}}</div>
                        <div class="col" style="padding-left:22px; ">{{ item.customer?.customer_name }}</div>
                        <div class="col" style="padding-left: 50px; ">{{ item.payment?.payment_status}}</div>
                        <div class="col" style="padding-left: 30px; ">{{item.order_status}}
                        </div>
                        <div class="col" style="padding-left: 30px;">{{ item.order_total_price }}</div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal1 -->
    <div class="modal fade" id="comfirmorderdialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-custom">
            <div class="modal-content card" style="width: 180%; height: 640px; border-radius: 35px;">
                <div class="row " style="margin: 20px 0px 0px 20px;">
                    <div class="col-11">
                        <b class="modal-title noto-sansthai-bold" id="staticBackdropLabel"
                            style="font-size: 28px; color: #363636;">หมายเลขคำสั่งซื้อ #EF11152024</b>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
                <div class="table-responsive" style="padding: 30px;">
                    <table class="table noto-sansthai-bold tableedit">
                        <thead>
                            <tr>
                                <th scope="col" style="color: #818181">NO.</th>
                                <th scope="col" style="color: #818181">image</th>
                                <th scope="col" style="color: #818181">ชื่อสินค้า</th>
                                <th scope="col" style="color: #818181">จำนวน</th>
                                <th scope="col" style="color: #818181">ราคา</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of CurrentOrder.orderItems">
                                <td scope="col" style="color: #575757">{{ product.order_detail_id }}</td>
                                <td scope="col" style="width: 150px;color: #575757">
                                    <div class="card img" style="height: 100px; border: none;"><img
                                            [src]="product.product_img_url![0]" class="rounded float-right"
                                            alt="..." /></div>
                                </td>
                                <td scope="col" style="color: #575757">{{ product.name }}</td>
                                <td scope="col" style="color: #575757">1</td>
                                <td scope="col" style="color: #575757">{{ product.price }}</td>
                            </tr>

                        </tbody>

                    </table>

                </div>
                <div class="row details" style="padding-top: 30px; padding-bottom: 20px;">
                    <div class="col-7">
                        <div>
                            <h6 class="noto-sansthai-medium" style="color: #adadad;">รายละเอียดคำสั่งซื้อ ที่อยู่จัดส่ง
                                / ชื่อผู้ส่ง / เบอร์โทร
                            </h6>
                        </div>
                        <div style="padding-top: 15px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-alarm-fill" viewBox="0 0 16 16">
                                <path
                                    d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07a7.001 7.001 0 0 1 3.274 12.474l.601.602a.5.5 0 0 1-.707.708l-.746-.746A6.97 6.97 0 0 1 8 16a6.97 6.97 0 0 1-3.422-.892l-.746.746a.5.5 0 0 1-.707-.708l.602-.602A7.001 7.001 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5m2.5 5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9zM.86 5.387A2.5 2.5 0 1 1 4.387 1.86 8.04 8.04 0 0 0 .86 5.387M11.613 1.86a2.5 2.5 0 1 1 3.527 3.527 8.04 8.04 0 0 0-3.527-3.527" />
                            </svg>
                            <span class="noto-sansthai-thin det1">{{CurrentOrder.createdDate}}</span>
                        </div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-flag-fill" viewBox="0 0 16 16">
                                <path
                                    d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12 12 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A20 20 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a20 20 0 0 0 1.349-.476l.019-.007.004-.002h.001" />
                            </svg>
                            <span class="noto-sansthai-thin det1"> {{CurrentOrder.address?.address_addDetail}} {{CurrentOrder.address?.address_district}}  {{CurrentOrder.address?.address_postal_code}} {{CurrentOrder.address?.address_province}}</span>
                        </div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                            </svg>
                            <span class="noto-sansthai-thin det1">{{CurrentOrder.address?.address_firstname}} {{CurrentOrder.address?.address_lastname}}</span>
                        </div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                            </svg>
                            <span class="noto-sansthai-thin det1"> {{CurrentOrder.address?.address_tel}}</span>
                        </div>
                        <div style="padding-top: 20px;"><button type="button"
                                class="btn btn-info noto-sansthai-bold bbtedit" style="width: 100px; height: 40px;"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pen" viewBox="0 0 16 16">
                                    <path
                                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                                </svg> แก้ไข</button></div>
                    </div>
                    <div class="col-5">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#ordercheckpayment"
                            class="btn btn-warning noto-sansthai-medium bttfile" style="width: 90%; height: 50px;"><svg
                                xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-eye " viewBox="0 0 16 16">
                                <path
                                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                <path
                                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                            </svg> ดูไฟล์หลักฐานการชำระเงิน</button>
                        <div style="padding-top: 20px;padding-bottom: 20px;">
                            <h2 class="noto-sansthai-bold" style="color: #9621d1;">{{CurrentOrder.order_total_price}} ฿</h2>
                        </div>
                        <div class="row noto-sansthai-medium">
                            <div class="col" >
                                <button type="button" data-bs-dismiss="modal"
                                    class="btn btn-success btn-lg bbtconfirm" (click)="onAcceptOrder(CurrentOrder.order_id!)">ยืนยัน</button></div>

                            <div class="col"><button type="button" class="btn btn-danger btn-lg bbtcancel"
                                    data-bs-dismiss="modal" aria-label="Close">ยกเลิก</button></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <div class="modal fade" id="ordercheckpayment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="paymentcheckdialogTitle">หลักฐานการชำระเงิน</h5>

                </div>
                <div class="modal-body">
                    <div class="row " style="justify-content: center;">
                        <div class="card" style="width: 60%;height: 50%; ">
                            <img [src]="['http://localhost:3000/payment/:image/'+CurrentOrder.payment?.payment_image]" alt="..." />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close"
                        data-bs-toggle="modal" data-bs-target="#comfirmorderdialog">Close</button>
                </div>
            </div>
        </div>
    </div>

    <style>
        .bbtedit {
            border-radius: 10px;
            background-color: rgb(170, 48, 211);
            border-color: rgb(170, 48, 211);
            color: #ffffff;
        }

        .modal-custom {
            max-width: 60%;
            /* กำหนดความกว้างสูงสุดของ Modal */
        }

        .bttfile {
            border: 2px solid #000;
            /* สีขอบเส้นและความหนาของเส้น */
            padding: 10px 20px;
            /* ขนาดของพื้นที่ภายในปุ่ม */
            text-decoration: none;
            /* ลบการเส้นใต้ข้อความ (หากใช้งานกับลิงค์) */
            cursor: pointer;
            /* แสดงเคอร์เซอร์เป็นตัวชี้ */
            border-radius: 10px;
            /* ทำให้มีเส้นมนเล็กที่ขอบ */
        }

        .bbtconfirm {
            border-radius: 12px;
            background-color: rgb(58, 234, 79);
            border-color: rgb(58, 234, 79);
            color: #000000;
            width: 85%;
            font-weight: 800;
            border-radius: 20px;
            height: 55px;
            font-size: 25px;
        }

        .bbtcancel {
            border-radius: 12px;
            background-color: rgb(237, 78, 38);
            border-color: rgb(237, 78, 38);
            color: #ffffff;
            width: 85%;
            font-weight: 800;
            border-radius: 20px;
            height: 55px;
            font-size: 25px;
        }


        img {
            width: 100%;
            /* ภาพจะไม่มีขนาดใหญ่เกินพื้นที่ที่ต้องการ */
            height: auto;
            /* ความสูงจะปรับให้เหมาะสมอัตโนมัติ */


        }

        .details {
            padding-left: 35px;
            padding-right: 35px;
            margin-bottom: 0;
            /* ตั้งค่า margin-bottom เป็น 0 เพื่อให้ไม่มีระยะห่างด้านล่าง */
        }

        .det1 {
            padding-left: 15px;
        }


        .noto-sansthai-bold {
            font-family: "Noto Sans Thai", sans-serif;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
            font-variation-settings: "width" 100;
        }


        .noto-sansthai-thin {
            font-family: "Noto Sans Thai", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings: "width" 100;
        }

        .noto-sansthai-medium {
            font-family: "Noto Sans Thai", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
            font-variation-settings: "width" 100;
        }

        .tableedit {
            max-height: 200px;
            /* กำหนดความสูงสูงสุดของตาราง */
        }
    </style>