<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Thai:wght@100..900&display=swap"
    rel="stylesheet" />

<style>
    .nav-link {
        color: black;
        font-weight: bold;
        font-size: 13px;
    }

    .search-box input {
        position: relative;
        display: flex;
        align-items: center;
        width: 100px;
        height: 35px;
        padding: 0 10px;
        border-width: 1px;
        border-radius: 50px;
        outline: none;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        font-size: 16px;
        color: #333;
    }

    .list-group {
        font-size: 13px;
    }

    .noto-sansthai-bold {
        font-family: "Noto Sans Thai", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-variation-settings: "width" 100;
    }


    .noto-sansthai-medium {
        font-family: "Noto Sans Thai", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "width" 100;
    }
</style>

<div class="col-md-12">
    <nav class="navbar navbar-expand-lg" aria-label="Tenth navbar example"
        style="background-color: #D9D9D9; height: 35px;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
                aria-controls="navbarsExample08" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                class="collapse navbar-collapse justify-content-end noto-sansthai-bold"
                id="navbars">
                <ul class="navbar-nav">
                    <li class="nav-item " *ngIf="this.currentAccount != null">
                        <a class="nav-link" (click)="this.AuthStore.logout()"
                            routerLink="/login">ออกจากระบบ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">|</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">ความช่วยเหลือ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">|</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login"
                            routerLinkActive="active"
                            href="#">เข้าร่วมกับเรา</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">|</a>
                    </li>
                    <li class="nav-item" style="padding-right: 10px;"  *ngIf="this.currentAccount == null">
                        <a class="nav-link " routerLink="/login"
                            routerLinkActive="active">ลงชื่อเข้าใช้ <svg
                                xmlns="http://www.w3.org/2000/svg" width="18"
                                height="18" fill="currentColor"
                                class="bi bi-person" viewBox="0 0 16 16">
                                <path
                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                            </svg></a>
                    </li>
                    <li class="nav-item" style="padding-right: 10px;"
                        *ngIf="this.currentAccount != null">
                        <a class="nav-link " routerLink="/profile"
                            routerLinkActive="active">{{this.currentAccount.account.customer.customer_name}}
                            <svg
                                xmlns="http://www.w3.org/2000/svg" width="18"
                                height="18" fill="currentColor"
                                class="bi bi-person" viewBox="0 0 16 16">
                                <path
                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                            </svg></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="row-12"
    style="height: 60px;padding-left: 30px; padding-right: 10px;">
    <div class="logo d-flex ">
        <div class="col-2">
            <img style="width: 30%;" src="..\assets\images\logo.png" class
                alt="..." />

        </div>

        <div class="col-8">
            <div class="nav-bar">
                <ul
                    class="nav col-md-auto justify-content-center noto-sansthai-medium"
                    style="margin-top: 15px;">
                    <li *ngFor="let category of CategorysList$ | async"><a
                            class="nav-link px-3"
                            [routerLink]="['category',category.category_id]"
                            routerLinkActive="active"
                            (click)="this.ProductStore.getProductByCategoryId(category.category_id)">{{category.category_name}}</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="search-and-col-container d-flex col-2"
            style="margin-top: 15px;">
            <div style="padding-right: 10px;">
                <div class="search-box noto-sansthai-bold">
                    <input type="text" placeholder="ค้นหา"
                        style="width: 135px; padding-left: 15px; padding-top: 2px;">
                </div>
            </div>
            <div class="col " style="padding-right: 10px;">
                <div class="button-heart">
                    <button type="button " class="btn btn-sm ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18"
                            height="18" fill="currentColor"
                            class="bi bi-heart" viewBox="0 0 16 16">
                            <path
                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                        </svg>
                    </button>
                    <button type="button " class="btn btn-sm "
                        routerLink="/cart" routerLinkActive="active">
                        <svg xmlns="http://www.w3.org/2000/svg " width="18 "
                            height="18" fill="currentColor "
                            class="bi bi-bag  " viewBox="0 0 16 16 ">
                            <path
                                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z " />
                        </svg>
                        <span
                            class="bg-danger rounded-pill badge ">{{this.CartStore.CartList.length}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>