.nav-link {
    color: black;
    font-weight: bold;
    font-size: 13px;
}

.search-box input {
    position: relative;
    display: flex;
    align-items: center;
    width: 100px;
    height: 35px;
    padding: 0 10px;
    border-width: 1px;
    border-radius: 50px;
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
}

.list-group {
    font-size: 13px;
}