<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
    rel="stylesheet">

<div
    style="padding-left: 60px; padding-top: 36px; padding-right: 60px; padding-bottom: 36px; background-image: url(https://media.discordapp.net/attachments/884802070241247342/1211238542597165076/bg2.png?ex=65ed78cc&is=65db03cc&hm=1eab03ff656f584e9434104679948d78a662297dec41ee8616793a1443c75496&=&format=webp&quality=lossless&width=1192&height=662);  display: flex; justify-content: center;">

    <div class="card rounded-5"
        style="border-color: black; box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 30);">
        <div class="row">
            <div class="col-6" style="padding-top: 2px;">
                <img src="..\assets\images\loginimage1.png"
                    class="rounded-start-5" alt="..." />
            </div>
            <div class="col-6">

                <div class="row">
                    <div class="row"
                        style="display: flex;justify-content: center;">
                        <img src="..\assets\images\logoblack.png"
                            class="rounded-start-5 img2" alt="..." />
                    </div>
                    <div style="padding-top: 30px; padding-left: 120px;">
                        <form [formGroup]="registerForm"  (ngSubmit)="onSubmit()"
                            style="padding-right: 40px; padding-top: 30px;">
                            <div class="mb-2 form"
                                style="justify-content: center; padding-top: 10px;">
                                
                                <input formControlName="user_name"
                                    class="form-control form-control-lg shadow-sm"
                                    style="width: 80%;" type="email"
                                    placeholder="Email"
                                    aria-label=".form-control-lg example">
                                <div
                                    *ngIf="f['user_name']?.invalid && (f['user_name']?.dirty || f['user_name']?.touched)" 
                                    class="text-danger">
                                    <div
                                        *ngIf="f['user_name']?.errors?.['required']">Email
                                        is required</div>
                                    <div
                                        *ngIf="f['user_name'].errors?.['minlength']">Email
                                        must be at least 5 characters</div>

                                </div>
                            </div>
                            <div class="mb-3 form" style="padding-top: 20px;">
                                <input formControlName="user_password"
                                    class="form-control form-control-lg shadow-sm"
                                    style="width: 80%;" type="password"
                                    placeholder="Password"
                                    aria-label=".form-control-lg example">
                                <span
                                    *ngIf="f['user_password']?.invalid && (f['user_password']?.dirty || f['user_password']?.touched)"
                                    class="text-danger">
                                    <div
                                        *ngIf="f['user_password']?.errors?.['required']">Password
                                        is required</div>
                                    <span
                                        *ngIf="f['user_password'].errors?.['minlength']">Password
                                        must be at least 5 characters</span>

                                </span>
                            </div>
                            <div class="row form"
                                style="padding-top: 40px; width: 70%; padding-left: 80px;">
                                <button type="submit"
                                    class="btn btn-dark font-inter rounded-5 shadow"
                                    style="height:50px; ">LOGIN</button>
                                <button type="submit"
                                    class="btn btn-close-white pt-2 "
                                    style="color: blue;">Forgot
                                    Password?</button>
                            </div>

                        </form>
                    </div>

                </div>
                <!-- <div  style="padding-top: 60px;"></div> -->
                <div class="linetop p-lg-1"></div>
                <div class="row" style="justify-content: center;">
                    <div
                        class="d-grid gap-2 d-md-flex justify-content-md-center"
                        style="padding-right: 30px; padding-top: 10px;">
                        <button class="btn me-md-2 rounded-5 font-inter"
                            type="button"
                            style="background-color: #2e2e2e; color: #FFFFFF; width: 16%;">SIGN
                            IN</button>
                        <button
                            class="btn rounded-5 btn-outline-secondary font-inter"
                            routerLink="/register" routerLinkActive="active"
                            type="button" style=" width: 16%;">SIGN UP</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<style>
    img {
        max-width: 100%;
        /* ภาพจะไม่มีขนาดใหญ่เกินพื้นที่ที่ต้องการ */
        height: 90vh;
        /* ความสูงจะปรับให้เหมาะสมอัตโนมัติ */
    }
    
    .img2 {
        max-width: 55%;
        height: auto;
        padding-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .card {
        height: 90vh;
        width: 90%;
        justify-content: center;
    }
    
    .form1 {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .font-inter {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "slnt" 0;
    }
    
    .linetop {
        border-top: 5px solid #bebebe;
        width: 60%;
        border-width: 1px;
        margin-left: auto;
        margin-right: auto;
    }

    .text-danger
     {
      position: fixed;
    }
</style>