<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Thai:wght@100..900&display=swap"
    rel="stylesheet" />


<style>
    .cardsum {
        width: 24rem;
        height: 7rem;
        background-color: #DCDCDC;
        border-radius: 15px;
        /* ให้ขอบมีความโค้ง */
        font-weight: bold;
        font-size: 18px;
    }

    .cardcheck {
        width: 24rem;
        height: 4rem;
        font-size: 18px;
        font-weight: bold;
        border-radius: 15px;
        /* ให้ขอบมีความโค้ง */
        background-color: #252525;
        color: white;
        /* เปลี่ยนตัวอักษร */
    }

    .noto-sansthai-bold {
        font-family: "Noto Sans Thai", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-variation-settings: "width" 100;
    }

    .noto-sansthai-thin {
        font-family: "Noto Sans Thai", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "width" 100;
    }

    .noto-sansthai-medium {
        font-family: "Noto Sans Thai", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "width" 100;
    }
</style>


<div class="container mt-5 ">
    <div class="row ">
        <div class="col mt-5 ">
            <app-item-cart *ngFor="let product of this.cartStore.CartList" [item]="product"></app-item-cart>

        </div>
        <div class=" col">
            <div class=" container">
                <div class="row align-items-end">
                    <div class="col noto-sansthai-medium" style="padding-left: 25px ; padding-top: 35px;">
                        <h1 style=" font-weight: 700;" >สรุปคำสั่งซื้อ</h1>
                        <br>
                        <span>ยอดรวมย่อย</span>
                        <br>
                        <span>ค่าธรรมเนียมการจัดส่ง</span>
                    </div>
                    <div class="col mt-5 noto-sansthai-thin">
                        <span>฿</span><span>{{this.cartStore.Total}}</span>
                        <br>
                        <span>ฟรี</span>

                    </div>

                </div>
                <br>

                <div class="card cardsum noto-sansthai-medium" style="width: 85%; font-size: 25px;">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <span>ยอดรวมทั้งหมด</span>
                            </div>

                            <div class="col-6 mt-0 " style="padding-left: 154px;">
                                <span>฿</span><span>{{this.cartStore.Total}}</span>
                            </div>

                        </div>
                    </div>
                </div>
                <br>

                <button class="cardcheck btn  noto-sansthai-medium" [disabled]="cartStore.Total ==0" routerLink="/checkout" routerLinkActive="active" style="width: 85%;">
                    <div class="card-body ">
                        <div class="row align-items-center">
                            <div class="col-6 noto-sansthai-medium">
                                <span style="font-size: larger; font-size: 25px;">เช็คเอ้าท์</span>
                            </div>

                            <div class="col " style="padding-left: 130px;">
                                <span><svg xmlns="http://www.w3.org/2000/svg" width="" height="30" fill="currentColor"
                                        class="bi bi-arrow-right" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                    </svg></span>
                            </div>

                        </div>
                    </div>
                </button>

            </div>



        </div>
    </div>
</div>