<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

<style>
    .round-image {
        border-radius: 50%;
        /* เพื่อทำให้รูปเป็นรูปร่างกลม */
        width: 120px;
        /* กำหนดความกว้างของรูป */
        height: 120px;
        /* กำหนดความสูงของรูป */
    }
</style>

<div class="card card-edit color d-flex justify-content-center align-items-center" style="width: 280px; height: 480px; ">
    <div class="col">
        <div class="card-body ">
            <div style="display: flex; justify-content: center;">
                <img src="..\assets\images\profile1.png" class="img2" alt="..." />

            </div>

            <div style="padding-top: 25px; padding-left: 10px;">
                <h5 class="font-inter">Jeeranan Pongpitak</h5>
                <h6 class="opacity-50 noto-sans-bold " style="font-size: smaller;">เริ่มเป็นสมาชิกตั้งแต่ 16 มกราคม 2024
                </h6>
                <br />
            </div>


            <h4 class="noto-sans-bold fonttab" style="font-size: 17px;">
                <div class="row">
                    <div class="col-1" style="padding-right: 20px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                        </svg>
                    </div>
                    <div class="col-10" style="color: #606060; " routerLink="/profile" routerLinkActive="active">รายละเอียดบัญชี</div>
                </div>


            </h4>

            <h4 class="noto-sans-bold" routerLink="/order-history" routerLinkActive="active"
                style="font-size: 17px;  padding-top: 5px;">
                <div class="row">
                    <div class="col-1" style="padding-right: 20px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-bag-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z" />
                        </svg>
                    </div>
                    <div class="col-10" style="color: #606060; ">คำสั่งซื้อ</div>
                </div>
            </h4>
            <h4 class="noto-sans-bold" routerLink="/fav" routerLinkActive="active"
                style="font-size: 17px;   padding-top: 5px;">
                <div class="row">
                    <div class="col-1" style="padding-right: 20px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                            <path
                                d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1" />
                        </svg>
                    </div>
                    <div class="col-10" style="color: #606060; ">รายการโปรด</div>
                </div>


            </h4>
            <h4 class="noto-sans-bold" routerLink="/itemcart" routerLinkActive="active"
                style="font-size: 17px;   padding-top: 5px;">
                <div class="row">
                    <div class="col-1" style="padding-right: 20px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chat-square-dots-fill" viewBox="0 0 16 16">
                            <path
                                d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                        </svg>
                    </div>
                    <div class="col-10" style="color: #606060; ">กล่องข้อความ</div>
                </div>

            </h4>
        </div>
    </div>
    <div class="col"></div>
</div>

<style>
    .noto-sans {
        font-family: "Noto Sans Thai", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }

    .noto-sans-bold {
        font-family: "Noto Sans Thai", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }

    .card-edit {
        border: 0;
        background-color: #f4f4f4;
        border-radius: 1cap;
    }

    .img2 {
        border-radius: 50%;
        /* เพื่อทำให้รูปเป็นรูปร่างกลม */
        width: 150px;
        /* กำหนดความกว้างของรูป */
        height: 150px;
        /* กำหนดความสูงของรูป */

    }
    .font-inter {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
    }
</style>