<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Thai:wght@100..900&display=swap"
    rel="stylesheet" />


<style>
    .btn {
        color: white;
        background-color: rgb(65, 61, 61);
        height: 50px;
        width: 480px;
        margin: 20px 0px 0px 0px;
        font-size: 24px;
        /* width: 420px; */
    }


    .cardtotal {
        width: 24rem;
        height: 4rem;
        background-color: #DCDCDC;
        border-radius: 15px;
        /* ให้ขอบมีความโค้ง */
        font-weight: bold;
        font-size: 18px;
    }

    .addAddress {
        height: 23px;
        width: 62px;
        font-size: 10px;
        float: right;
        border-radius: 15px;
        background-color: #5a5454;
        color: aliceblue;
        border: 2px solid #5a5454;
        /* สีเส้นขอบของปุ่ม */
    }

    .text {
        font-weight: bold;
        font-size: 1rem;
    }

    .form {

        width: 30rem;
        height: 3rem;
        font-size: 18px;
    }

    .form_flex {
        height: 48px;
        width: 230px;
        margin-right: 20px;
        border: 1px solid black;
        padding: 10px;
    }

    .noto-sansthai-bold {
        font-family: "Noto Sans Thai", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-variation-settings: "width" 100;
    }

    .noto-sansthai-medium {
        font-family: "Noto Sans Thai", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings: "width" 100;
    }
</style>

<h1 class="mt-4 noto-sansthai-bold" style="text-align: center; ">เช็คเอ้าท์</h1>

<div class="container p-5 noto-sansthai-medium" style="float: inline-end;">
    <div class="row">
        <div class="col">

            <form class="row" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                <div class="col-9">
                    <label for="inputAddress1" class="form-label text">เลือกที่อยู่จัดส่ง *แก้</label>
                    <input type="text" class="form-control " id="inputAddress1" placeholder="จีรนันท์ พงษ์พิทักษ์ 
                    | (+66) 99 002 3035
                    หอพักหญิงเทพประทานเพลส ห้อง (B401) 36/6 ถ.เนตรดี 
                    ตำบลแสนสุข, อำเภอเมืองชลบุรี, จังหวัดชลบุรี, 20130" autocomplete="on">
                    <br>
                    <button class="addAddress" type="submit">+ เพิ่มที่อยู่ </button>

                </div>

                <div class="col-md-9">
                    <span class="text">ป้อนชื่อ และที่อยู่ในการจัดส่ง</span>
                    <br>
                    <label for="inputName" class="form-label"></label>
                    <input formControlName="address_firstname" type="text" class="form" id="inputName" placeholder="ชื่อ">
                </div>
                <div class="col-md-9 " style="margin-top: 0px;">
                    <label for="inputSurname" class="form-label"></label>
                    <input formControlName="address_lastname" type="text" class="form" id="inputSurname" placeholder="นามสกุล">
                </div>
                <div class="col-md-9">
                    <label for="inputAddress" class="form-label"></label>
                    <input formControlName="address_addDetail" type="text" class="form" id="inputAddress" placeholder="ที่อยู่">
                </div>
                <div class="" style="display: flex; margin-top: 20px;">
                    <div class="">
                        <label for="inputDistrict" class="form-label"></label>
                        <input formControlName="address_district" type="text" class="form_flex" id="inputDistrict" placeholder="เขต/อำเภอ">
                    </div>

                    <div class="">
                        <label for="inputProvince" class="form-label"></label>
                        <input formControlName="address_province" type="text" class="form_flex" id="inputProvince" placeholder="จังหวัด">
                    </div>
                </div>

                <div class="" style="display: flex; margin-top: 20px; margin-bottom: 20px;">
                    <div class="">
                        <label for="inputZip" class="form-label"></label>
                        <input formControlName="address_postal_code" type="text" class="form_flex" id="inputZip" placeholder="รหัสไปรษณีย์">
                    </div>
                    <div class="">
                        <label for="inputCountry" class="form-label"></label>
                        <input formControlName="address_country" type="text" class="form_flex" id="inputCountry" placeholder="ประเทศ">
                        <br>
                    </div>
                </div>

                <div class="col-md-9">
                    <span class="text">โปรดป้อนข้อมูลการติดต่อ</span>
                    <br>
                    <label for="inputEmail" class="form-label"></label>
                    <input type="email" class="form" id="inputEmail" placeholder="อีเมล">
                </div>
                <div class="col-md-9">
                    <label for="inputPhon" class="form-label"></label>
                    <input formControlName="address_tel" type="text" class="form" id="inputPhon" placeholder="เบอร์โทรศัพท์">
                </div>

                <div class="">
                    <button type="submit" class="btn"
                       ><b>ดำเนินการต่อ</b></button>
                </div>
            </form>
            <br>

        </div>
        <div class="col">
            <div class=" col ">
                <div class=" container">
                    <div class="row align-items-end ">
                        <div class="col" style="width: 70%;">
                            <h1 class="noto-sans-bold" style="font-weight: 700; font-size: 30px;">สรุปคำสั่งซื้อ</h1>
                            <br>
                            <span>ยอดรวมย่อย</span>
                            <br>
                            <span>ค่าธรรมเนียมการจัดส่ง</span>
                        </div>
                        <div class="col mt-5">
                            <span>฿</span><span>{{this.cartStore.Total}}</span>
                            <br>
                            <span>ฟรี</span>

                        </div>

                    </div>
                    <br>

                    <div class="card cardtotal" style="width: 85%;">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-5">
                                    <span style="font-size: 20px;">ยอดรวมทั้งหมด</span>
                                </div>

                                <div class="col-6 mt-0 " style="padding-left: 100px;">
                                    <span>฿</span><span>{{this.cartStore.Total}}</span>
                                </div>




                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div style="margin-top: 50px;">
                <app-item-cart *ngFor="let product of this.cartStore.CartList" [item]="product"></app-item-cart>
            </div>
            
        </div>