<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">

<div class="row">
    <div class="col-md-auto noto-sansthai">
        <nav class="nav flex-column col-md-10" style="margin-top: 50px;">
            <a class="nav-link" href="#" style="font-size: 18px; margin-bottom: 12px;">สำหรับผู้ชาย</a>
            <a class="nav-link" href="#">ไลฟ์สไตล์</a>
            <a class="nav-link" href="#">วิ่ง</a>
            <a class="nav-link" href="#">บาสเก็ตบอล</a>
            <a class="nav-link" href="#">ฟุตบอล</a>
            <a class="nav-link" href="#">Jordan</a>
            <a class="nav-link" href="#">สเก็ตบอร์ด</a>
            <a class="nav-link" href="#">กอล์ฟ</a>
            <a class="nav-link" href="#">เทนนิส</a>
            <a class="nav-link" href="#">กรีฑา</a>
            <a class="nav-link" href="#">เดิน</a>
        </nav>
        <div class="col-12">
            <div class="list-group" style="margin-top: 20px; padding-left: 15px;">
                <label class="list-group-item d-flex gap-3">
        <span class="pt-1 form-checked-content">
          <a style="font-size: 15px;">เลือกซื้อตามราคา</a>
        </span>
        </label>
                <label class="list-group-item d-flex gap-3">
          <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked="" style="font-size: 1.375em;">
          <span class="pt-1 form-checked-content">
            <strong style="font-size: 13px;">ต่ำกว่า ฿2,000</strong>
          </span>
        </label>
                <label class="list-group-item d-flex gap-3">
          <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
          <span class="pt-1 form-checked-content">
            <strong style="font-size: 13px;">฿2,000 - ฿4,000</strong>
          </span>
        </label>
                <label class="list-group-item d-flex gap-3">
          <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
          <span class="pt-1 form-checked-content">
            <strong style="font-size: 13px;">฿4,000 - ฿8,000</strong>
          </span>
        </label>
                <label class="list-group-item d-flex gap-3">
          <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
          <span class="pt-1 form-checked-content">
            <strong style="font-size: 13px;">สูงกว่า ฿8,000</strong>
          </span>
        </label>
            </div>
        </div>
    </div>

    <div class="col-md-10 inter" style="margin-top: 50px;">
        <div class="row">
            <div class="col pt-3" *ngFor="let product of ProductList$ | async">
                <div class="card" style="width: 18rem; border-color: #F1F1F1;">
                    <a [routerLink]="['product' , product.product_id]" (click)="this.ProductStore.getProductById(product.product_id!)" routerLinkActive="active">
                        <img [src]="[product.product_img_url![0]]" class="card-img-top " alt="images ">
                    </a>

                    <div class="card-body">
                        <b>{{product.product_name}}</b>
                        <p class="noto-sansthai pt-2" style="color: #616161; font-size: small;">{{CategoryList[product.product_categoryId!].category_name}}</p>
                        <p>{{product.product_color}}</p>
                        <b>฿ {{product.product_price}}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .noto-sansthai {
        font-family: "Noto Sans Thai", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }
    
    .inter {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "slnt" 0;
    }
</style>