// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)


// Then add additional custom code here
#navbar {
    background-color:#990000;
    position:fixed;  
    z-index:1; /*Add this*/
    width:100%;
    height:50px;
    text-align:center;
    vertical-align:middle;
    line-height:50px;
    top:0px;
  }