<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Thai:wght@100..900&display=swap"
  rel="stylesheet"
/>

<div
  style="
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
    background-color: rgb(214, 221, 226);
  "
>
  <div>
    <h1
      class="bebas-neue-regular fixed-text"
      style="
        position: fixed;
        letter-spacing: 10px;
        opacity: 36%;
        position: relative;
        font-size: 250px;
        position: absolute;
        padding-top: 20px;
        padding-left: 60px;
        color: #c1c5d5;
        left: 0;
        z-index: 1;
      "
    >
      NIKE AIR MAX 90
    </h1>
  </div>
  <div
    class="card"
    style="
      flex: 100%;
      position: relative;
      width: 100%;
      height: 90vh;
      border-radius: 15px;
      box-shadow: 0 11px 11px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    "
  >
    <div class="row" style="display: flex; z-index: 1">
      <div class="columnmain" style="flex: 50%; padding-left: 20px">
        <div class="img" style="padding-top: 10px">
          <img
            src="..\assets\images\reccommanded.png"
            class="rounded float-right"
            alt="..."
          />
        </div>
      </div>
      <div
        class="card-body columnmain"
        style="
          flex: 50%;
          padding-left: 10px;
          padding-right: 50px;
          padding-top: 80px;
          justify-content: center;
          align-items: center;
        "
      >
        <h6
          class="card-title noto-sansthai-bold fixed-text"
          style="
            flex: 100%;
            position: relative;
            font-size: 20px;
            color: #464646;
          "
        >
          รองเท้าผู้ชาย
        </h6>
        <h1 style="font-size: 115px" class="bebas-neue-regular fixed-text">
          NIKE AIR MAX 90
        </h1>
        <h5 class="noto-sansthai-bold fixed-text" style="font-size: 20px">
          ฿5,200
        </h5>
        <p
          class="card-text noto-sansthai-thin fixed-text"
          style="padding-top: 20px; padding-right: 80px"
        >
          สวมใส่และสัมผัสถึงตำนานของรองเท้าวิ่งที่เป็นที่สุดคู่นี้ซึ่งเป็นหนึ่งใน
          ต้นกำเนิดของสไตล์ยุค 90 รองเท้าคู่นี้สวมใส่มาแล้วโดยประธานาธิบดี
          ผ่านการปฏิวัติจากการคอลแลปส์หลายครั้ง และเป็นที่ยกย่องด้วยคู่สี
          ที่หาได้ยาก พื้นรองเท้าชั้นนอกลายวาฟเฟิล ระบบลดแรงกระแทก Nike Air
          แบบมองเห็นได้ และรูปลักษณ์ที่สะดุดตาซึ่งช่วยให้คู่นี้
          มีชีวิตชีวาไม่เสื่อมคลาย
        </p>
        <div
          class="row"
          style="
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 15px;
            padding-right: 50px;
          "
        >
          <div class="col-4 card">
            <img
              src="..\assets\images\airmax90rec3.png"
              class="rounded float-right"
              alt="..."
            />
          </div>
          <div class="col-4 card">
            <img
              src="..\assets\images\airmax90rec1.png"
              class="rounded float-right"
              alt="..."
            />
          </div>
          <div class="col-4 card">
            <img
              src="..\assets\images\airmax90rec2.png"
              class="rounded float-right"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="padding-top: 50px; justify-content: center">
  <div class="col-3"><img src="..\assets\images\main1.png" alt="..." /></div>
  <div class="col-3"><img src="..\assets\images\main2.png" alt="..." /></div>
</div>
<div style="padding-top: 15px">
  <h6 class="text-center fw-bold">Nike Invincible 3</h6>
</div>
<div style="padding-top: 15px">
  <h1 class="text-center fw-bold noto-sansthai-bold">
    ไม่เชื่อก็ลองสัมผัสด้วยตัวเอง
  </h1>
</div>
<div style="padding-top: 10px">
  <h6 class="text-center noto-sansthai-thin">
    วิ่งไปพร้อมการลดแรงกระแทกและสีสันใหม่ของ Invincible 3
  </h6>
</div>
<div class="d-grid gap-2 col-1 mx-auto" style="padding-top: 10px">
  <button
    class="btn btn-dark btn-rounded noto-sansthai-bold"
    type="button"
    style="border-radius: 20px"
  >
    เลือกซื้อ
  </button>
</div>
<div style="padding-top: 50px"></div>
<div style="padding-left: 100px">
  <h2 class="noto-sansthai-bold" style="font-weight: bold">
    ปีใหม่ ของใหม่ๆ ต้องมา
  </h2>
  <div class="row" style="justify-content: left">
    <div class="col-3" style="padding-left: 10px">
      <img src="..\assets\images\airforcerec1.png" alt="..." />
      <h6 class="fw-bold" style="padding-top: 10px">Nike Air Force 1 '07</h6>
      <h6 class="noto-sansthai-thin">รองเท้าผู้ชาย</h6>
      <h6 class="noto-sansthai-bold">฿4,300</h6>
    </div>
    <div class="col-3" style="padding-left: 10px">
      <img src="..\assets\images\airforcerec2.png" alt="..." />
      <h6 class="fw-bold" style="padding-top: 10px">Nike Cortez</h6>
      <h6 class="noto-sansthai-thin">รองเท้าผู้ชาย</h6>
      <h6 class="noto-sansthai-bold">฿3,400</h6>
    </div>
    <div class="col-3" style="padding-left: 10px">
      <img src="..\assets\images\airforcerec3.png" alt="..." />
      <h6 class="fw-bold" style="padding-top: 10px">Nike Air Max 90</h6>
      <h6 class="noto-sansthai-thin">รองเท้าผู้หญิง</h6>
      <h6 class="noto-sansthai-bold">฿5,200</h6>
    </div>
  </div>
</div>
<div style="padding-top: 40px"></div>
<div
  style="
    background-color: rgb(24, 24, 24);
    height: 180px;
    padding-top: 25px;
    padding-left: 80px;
  "
  class="row"
>
  <div class="col-2 fw-bold" style="color: rgb(255, 255, 255)">
    <h6 class="noto-sansthai-medium">สมัครเป็นสมาชิก</h6>
  </div>
  <div class="col-2" style="color: rgb(255, 255, 255)">
    <h6 class="noto-sansthai-medium">รับความช่วยเหลือ</h6>
    <h6 class="noto-sansthai-thin" style="color: rgb(143, 141, 141)">
      ติดต่อเรา
    </h6>
    <h6 class="noto-sansthai-thin" style="color: rgb(143, 141, 141)">
      การคืนสินค้า
    </h6>
  </div>
  <div class="col-2" style="color: rgb(255, 255, 255)">
    <h6 class="noto-sansthai-medium">เกี่ยวกับ NIKE</h6>
    <h6 class="noto-sansthai-thin" style="color: rgb(143, 141, 141)">
      ข่าวสาร
    </h6>
  </div>
  <div class="col-4"></div>
</div>

<style>
  .bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .noto-sansthai-bold {
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "width" 100;
  }

  .noto-sansthai-thin {
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "width" 100;
  }

  .noto-sansthai-medium {
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "width" 100;
  }

  img {
    max-width: 100%; /* ภาพจะไม่มีขนาดใหญ่เกินพื้นที่ที่ต้องการ */
    height: auto; /* ความสูงจะปรับให้เหมาะสมอัตโนมัติ */
  }
</style>
