<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Thai:wght@100..900&display=swap"
    rel="stylesheet" />

<style>
    #options {
        font-size: 16px;
        width: 60px;
        /* ขนาด select */
    }

    #optionsnum {
        font-size: 16px;
        width: 60px;
        height: 35px;
        /* ขนาด select */
    }

    .font {
        font-size: 16px;
    }

    .noto-sansthai-medium {
        font-family: "Noto Sans Thai", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "width" 100;
    }
</style>

<div class="card mb-3 noto-sansthai-medium"
    style="max-width: 580px; height: 202px;">
    <div class="row g-0  ">
        <div class="col img-resize">
            <img [src]="[item.product_img_url![0]]"
                class=" img-fluid rounded-start " alt="..."
                style="height: 200px;">
        </div>
        <div class="col-md-8">
            <div class="card-body">

                <div class="row align-items-center">
                    <div class="col-7">
                        <b class="card-title">{{item.product_name}}</b>
                        <div>
                            <span class="font">รองเท้า</span>
                            <br>
                            <span>สีขาว/เขียว</span>
                            <p>ไซส์: <select id="options">
                                    <option [value]="[size]"
                                        *ngFor="let size of item.product_size">{{size}}</option>
                                </select>
                            </p>
                        </div>
                        <div>
                            <span>จำนวน {{item.product_amout}}</span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div>
                            <h6 class="col"
                                style="padding-bottom: 90px; padding-left: 55px;">{{item.product_price}}
                            </h6>
                        </div>
                        <div>
                            <a (click)="this.cartStore.RemoveToCart(item)">
                                <span style="padding-left: 85px; "><svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16" fill="currentColor"
                                        class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path
                                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                                    </svg></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>