<!-- <button type="button" *ngFor="let product of ProductList$ | async" class="btn btn-primary btn-sm" (click)="cartStore.AddToCart(product)">{{product.name}}</button> -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">

<div class="row noto-sans" style="padding-top: 70px; padding-left: 60px;">
    <div class="col-3">
        <h5 class="noto-sans-bold" style="color: #FFC369;">สินค้าขายดี</h5>
        <h2 class="inter" style="padding-top: 10px;">{{Product.product_name}}</h2>
        <h6 class="noto-sans-bold" style="padding-top: 15px; color: #616161;">รองเท้าผู้ชาย</h6>
        <h6 style="padding-top: 50px; padding-right: 30px;">{{Product.product_description}}</h6>
    </div>
    <div class="col-5">
        <div class="img container3"><img [src]="[Product.product_img_url![0]] " class="rounded float-right" alt=""></div>
    </div>
    <div class="col-4 noto-sans">
        <h5 class="noto-sans-bold" style="padding-top: 50px; padding-bottom: 15px;">เลือกไซส์ UK</h5>
        <div>
            <!-- Size Layout -->
            <div class="container">
                <div class="row btn-group" role="group">
                    <div class="col-2" *ngFor="let size of Product.product_size">
                        <input type="radio" class="btn-check" name="btnradio" [id]="['btnradio'+size]" autocomplete="off">
                        <label class="btn btnsize" [for]="['btnradio'+size]" (click)="sizeSelect(size)">{{size}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-check ">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
      </label>
    </div>
</div>

<div class="row noto-sans">
    <!-- รูปหลายรูป -->
    <div class="col-6">
        <div class="row pt-0" style="padding-left: 110px;">
            <div class="col-2 imgdetail" *ngFor="let product of Product.product_img_url">
                <img [src]="sanitizer.bypassSecurityTrustUrl(product)" class="rounded float-right e2e-trusted-url" alt="...">
            </div>
        </div>

    </div>
    <!-- favorite -->
    <div class="col-2">

    </div>

    <div class="col-4" style="padding-left: 30px;">
        <div class="row pt-2">
            <div class="col-5 noto-sans-bold">เรทติ้ง</div>
            <div class="col-4">*****</div>
        </div>
        <div class="row pt-2">
            <div class="col-5 noto-sans-bold">เขียนรีวิว</div>
            <div class="col-4">1</div>
        </div>
        <div class="row pt-2">
            <div class="col-5 noto-sans-bold">ราคา</div>
            <div class="col-4">฿ {{Product.product_price}}</div>
        </div>
        <div class="row" style="padding-top: 30px; padding-left: 15px;">
            <button type="button" class="btn btn-dark btn-rounded noto-sans-bold" style="width: 315px; height: 50px; " (click)="this.cartStore.AddToCart(this.item.value)">เพิ่มลงตะกร้า</button>
        </div>

    </div>
</div>

<style>
    img {
        max-width: 90%;
        /* ภาพจะไม่มีขนาดใหญ่เกินพื้นที่ที่ต้องการ */
        height: auto;
        /* ความสูงจะปรับให้เหมาะสมอัตโนมัติ */
    }
    
    .btnsize {
        width: 55px;
        background-color: #D9D9D9;
        color: rgb(0, 0, 0);
    }
    
    .container3 {
        display: flex;
        justify-content: center;
        /* จัดให้เนื้อหาอยู่ตรงกลางตามแนวนอน */
        align-items: center;
        /* จัดให้เนื้อหาอยู่ตรงกลางตามแนวตั้ง */
    }
    
    .container {
        padding: 5px;
        padding-right: 70px;
    }
    
    .inter {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings: "slnt" 0;
    }
    
    .noto-sans {
        font-family: "Noto Sans Thai", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }
    
    .noto-sans-bold {
        font-family: "Noto Sans Thai", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }
</style>