<!-- font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+Thai:wght@100..900&display=swap"
    rel="stylesheet">


<!-- หัวข้อ -->
<div class="noto-sans-bold text-center" style="padding-top: 30px; padding-bottom: 20px;">
    <h3 style="font-size: 45px;">เช็คเอ้าท์</h3>
</div>

<!-- body -->
<div class="container noto-sans-bold">
    <div class="row">
        <!-- เลือกช่องทางชำระเงิน -->
        <div class="col-6" style="padding-left: 120px; ">
            <!-- ความกว้างของ text-box -->
            <div class="col-8">
                <!-- เลือกช่องทางชำระเงืน -->
                <div>
                    <h6 class="noto-sans-bold">เลือกช่องทางชำระเงิน:</h6>
                    <div>
                        <button type="button" disabled
                            class="noto-sans fontpayment btn btn-light btn-lg btncustomselect text-xl-start">บัตรเครดิต/เดบิต</button>
                    </div>
                    <div style="padding-top: 10px;">
                        <button type="button"
                            class="noto-sans fontpayment btn btn-light btn-lg btncustomselect text-xl-start">QR
                            Code</button>
                    </div>
                    <div style="padding-top: 10px;">
                        <button type="button" disabled
                            class="noto-sans fontpayment btn btn-light btn-lg btncustomselect text-xl-start">Paypal</button>
                    </div>
                </div>

                <!-- ป้อนรายละเอียด -->


                <!-- ปุ่ม -->
                <div style="padding-top: 70px;">
                    <!-- <button type="button" class="btn btn-lg btncustom noto-sans-bold" routerLink="/Qrcode"
                        routerLinkActive="active"
                        style="background-color: rgb(58, 88, 223); color: aliceblue;">สั่งซื้อ</button> -->

                    <app-qr-code></app-qr-code>



                    <div style="padding-top: 10px;"></div>
                    <button type="button" class="btn btn-lg btncustom noto-sans-bold"
                        style="background-color: rgb(37, 37, 37);color: aliceblue;">ยกเลิกคำสั่งซื้อ</button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <!-- สรุปคำสั่งซื้อ -->

        <div class="col-5" style="margin-right: 100px;">
            <div class=" col">
                <div class=" container ">
                    <div class="row align-items-end justify-content-end">
                        <div class="col">
                            <h1 style="font-size: 30px; font-weight: 700;">สรุปคำสั่งซื้อ</h1>
                            <br>
                            <span>ยอดรวมย่อย</span>
                            <br>
                            <span>ค่าธรรมเนียมการจัดส่ง</span>
                        </div>
                        <div class="col mt-5">
                            <span>฿</span><span>{{this.cartStore.Total}}</span>
                            <br>
                            <span>ฟรี</span>

                        </div>

                    </div>
                    <br>

                    <div class="card cardtotal" style="width: 550px;">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-5">
                                    <span>ยอดรวมทั้งหมด</span>
                                </div>

                                <div class="col-6 mt-0 " style="padding-left: 80px;">
                                    <span>฿</span><span>{{this.cartStore.Total}}</span>
                                </div>




                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div style="margin-top: 50px;">
                <app-item-cart *ngFor="let product of this.cartStore.CartList" [item]="product"></app-item-cart>
            </div>
        </div>
    </div>
</div>







<style>
    .cardtotal {
        width: 28.5rem;
        height: 4rem;
        background-color: #DCDCDC;
        border-radius: 15px;
        /* ให้ขอบมีความโค้ง */
        font-weight: bold;
        font-size: 18px;
    }

    .inter {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
    }

    .noto-sans {
        font-family: "Noto Sans Thai", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }

    .noto-sans-bold {
        font-family: "Noto Sans Thai", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }

    .btncustom {
        width: 100%;
        font-size: 15px;
    }

    .btncustomselect {
        width: 100%;

    }

    .fontpayment {
        font-size: 15px;
    }
</style>