<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+Thai:wght@100..900&display=swap"
  rel="stylesheet">

<style>
  .color {
    background-color: #fafafa;
  }

  .custom-input {
    width: 450px;
    /* กำหนดความกว้างของ input */
    height: 50px;
    /* ความสูงของช่อง */
    border-radius: 13px;
    /* กำหนดการโค้งของขอบให้มีความโค้ง*/
  }

  .font {
    font-size: 16px;
    /* กำหนดขนาดตัวอักษร */
    font-weight: bold;
  }

  .fontad {
    font-size: 14px;
    /* กำหนดขนาดตัวอักษร */
    opacity: 60%;
    line-height: 0.5;
  }

  .linetop {
    border-top: 1px solid #e0e0e0;
    /* เส้นขีดแบ่ง*/
    width: 450px;
    border-width: 2px;
  }

  .linebottom {
    border-bottom: 1px solid #e0e0e0;
    /* เส้นขีดแบ่ง*/
    width: 450px;
    border-width: 2px;
  }



  .imageright {
    border-radius: 50%;
    /* เพื่อทำให้รูปเป็นรูปร่างกลม */
    width: 250px;
    /* กำหนดความกว้างของรูป */
    height: 250px;
    /* กำหนดความสูงของรูป */
  }

  .noto-sans {
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .noto-sans-bold {
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .font-inter {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings:
            "slnt" 0;
    }
</style>
<div class="container">
  <div class="row noto-sans-bold">
    <div class="col-3"><app-nav-profiile></app-nav-profiile></div>
    <div class="col-5">
      <h1 style="padding-bottom: 10px; font-weight: 700;">รายละเอียดบัญชี</h1>
      <form>
        <div class="mb-2">
          <label for="exampleInputEmail1" class="form-label font" style="padding-top: 15px;">อีเมลล์</label>
          <input type="email" class="form-control custom-input" id="exampleInputEmail1" aria-describedby="emailHelp" />
        </div>
      </form>
      <br />
      <span class="font">ชื่อบัญชี</span>
      <p class="font-inter">Jeerana Pongpitak</p>
      <br />
      <span class="font">รหัสผ่าน</span>
      <p>-----------</p>
      <br />
      <span class="font">หมายเลขโทรศัพท์</span>
      <p>0990024141</p>
      <div class="linetop" style="padding-bottom: 5px;"></div>
      <span class="font">วิธีชำระเงินที่ชำระไว้</span>
      <br />
      <br />
      <div class="linetop" style="padding-bottom: 5px;"></div>
      <span class="font">ที่อยู่ส่งมอบที่บันทึกไว้</span>
      <br /><br />
      <span class="fontad">
        <p>จีรนันท์ พงษ์พิทักษ์</p>
        <br />
        <p>
          หอพักหญิงเทพประทานเพลส ห้อง (B401) 36/6 ถ.เนตรดี ต.แสนสุข
          อ.เมืองชลบุรี
        </p>
        <p>ชลบุรี 20130</p>
        <p>เบอร์โทร 0990024141</p>
      </span>
    </div>

    <div class="col-3" style="padding-top: 130px; padding-left: 100px;">
      <h6 class="text-center" style="font-size: larger; font-weight: 600;">รูปภาพ</h6>
      <div class="col  d-flex justify-content-center align-items-center">
        <img src="..\assets\images\profile1.png" class="imageright" alt="..." />

      </div>
    </div>
  </div>

</div>




<!-- <div class="container noto-sans-bold" style="padding-bottom: 10px;"> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="row" style="padding-left: 50px;">
  <div class="col" style="padding-top: 30px;"> -->