.round-image {
  border-radius: 50%;
  /* เพื่อทำให้รูปเป็นรูปร่างกลม */
  width: 120px;
  /* กำหนดความกว้างของรูป */
  height: 120px;
  /* กำหนดความสูงของรูป */
}

.color {
  background-color: #fafafa;
}

.custom-input {
  width: 450px;
  /* กำหนดความกว้างของ input */
  height: 50px;
  /* ความสูงของช่อง */
  border-radius: 13px;
  /* กำหนดการโค้งของขอบให้มีความโค้ง*/
}

.font {
  font-size: 16px;
  /* กำหนดขนาดตัวอักษร */
  font-weight: bold;
}

.fontad {
  font-size: 14px;
  /* กำหนดขนาดตัวอักษร */
  opacity: 60%;
  line-height: 0.5;
}

.linetop {
  border-top: 1px solid #e0e0e0;
  /* เส้นขีดแบ่ง*/
  width: 450px;
  border-width: 2px;
}

.linebottom {
  border-bottom: 1px solid #e0e0e0;
  /* เส้นขีดแบ่ง*/
  width: 450px;
  border-width: 2px;
}

.round-image {
  border-radius: 50%;
  /* เพื่อทำให้รูปเป็นรูปร่างกลม */
  width: 120px;
  /* กำหนดความกว้างของรูป */
  height: 120px;
  /* กำหนดความสูงของรูป */
}

.imageright {
  border-radius: 50%;
  /* เพื่อทำให้รูปเป็นรูปร่างกลม */
  width: 250px;
  /* กำหนดความกว้างของรูป */
  height: 250px;
  /* กำหนดความสูงของรูป */
}

.container {
  display: flex;
  //   grid-template-columns: 150px;
  //   grid-template-rows: 250px 250px 80px;
  background: white;
  gap: 15px;
  flex-wrap: wrap;
}

.container .card {
  border-radius: 18px;
  padding: 8px;
  margin: 18px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.6s ease;
}

.container .card:hover {
  transform: translateY(-20px);
}

.card-img-top {
  width: 150px;
  height: auto;
}

.container .card .card-title {
  font-weight: bold;
  margin-left: 10px;
}

.container .card .card-text {
  font-weight: bold;
  margin-left: 10px;
  font-size: 14px;
}

.container .card .card-body {
  font-size: 14px;
}

.border-button {
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
  border-radius: 12px;
  background: #ffc954;
  border: none;
}