<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+Thai:wght@100..900&display=swap"
  rel="stylesheet">

<style>
  .color {
    background-color: #fafafa;
  }

  .custom-input {
    width: 450px;
    /* กำหนดความกว้างของ input */
    height: 50px;
    /* ความสูงของช่อง */
    border-radius: 13px;
    /* กำหนดการโค้งของขอบให้มีความโค้ง*/
  }

  .font {
    font-size: 16px;
    /* กำหนดขนาดตัวอักษร */
    font-weight: bold;
  }

  .fontad {
    font-size: 14px;
    /* กำหนดขนาดตัวอักษร */
    opacity: 60%;
    line-height: 0.5;
  }


  .noto-sans {
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .noto-sans-bold {
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

  .editcard {
    width: 70%;

  }
</style>

<div class="container">
  <div class="row">
    <div class="col-3"><app-nav-profiile></app-nav-profiile></div>
    <div class="col-9" style="padding-left: 80px;">
      <div class="row noto-sans-bold">
        <h1 style="font-weight: 700;">คำสั่งซื้อของคุณ</h1>
        <div *ngFor="let item of OrderList$ |async" class="card editcard"
          [routerLink]="['/order-status/'+item.order_id]" 
          routerLinkActive="active">
          <div class="row">
            <div class="col-5">
              <h5 class="card-title inter" style="padding-top: 10px;">#Your
                Order</h5>
            </div>
            <div class="col-7">
              <p class="card-title" style="
                    font-size: 14px;
                    color: rgb(110, 110, 110);
                    position: relative;
                    margin-top: 14px;
                    left: -35px;
                  ">
                คำสั่งซื้อของคุณ
              </p>
            </div>
          </div>

          <p class="card-text" style="font-size: large;">หมายเลขคำสั่งซื้อ
            {{item.order_id}}</p>
          <div class="card-body">
            <div class="row">
              <div class="col-5">
                <img [src]="[item.orderItems![0].product_img_url![0]]"
                  class="card-img-top rounded-3" alt="..." />
              </div>
              <div class="col-7">
                <p class="font-inter"
                  style="font-size: larger;"></p>
                <p class="noto-sans"
                  style="font-size: small; line-height: 5%;">ไซส์ {{item.orderItems![0].product_size![0]}}UK</p>
                <p
                  style="font-weight: 400; padding-top: 20px;">จำนวน:
                  {{item.order_sum_amount}}</p>
                <p class="noto-sansthai-bold"
                  style="font-size: large; line-height: 5%;">ราคารวม:
                  {{item.order_total_price}}</p>
              </div>
            </div>
            <br />
            <div style="float: right">
              <button type="button" class="border-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="70" height="25"
                  fill="currentColor" class="bi bi-clock"
                  viewBox="0 0 16 16" style="margin: 5px">
                  <path
                    d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                  <path
                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                </svg>
                <!-- สถานะพัสดุ -->
                <span
                  style="padding-right: 30px; font-size: larger;">{{item.order_status}}</span>
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<!--  -->
