<div class="container sidebar">
    <div class="row">
        <div class="card-table1" style="margin-top: 17px;">
            <div class="">
                <div class="row"
                    style="margin-top: 8px; display: grid; grid-template-columns: 2fr 2fr 2fr 1.5fr 2fr 1.5fr;">
                    <div class="col " style="padding-left: 10px;">
                        หมายเลขคำสั่งซื้อ
                    </div>
                    <div class="col" style="padding-left: 5px;">วันที่</div>
                    <div class="col" style="padding-left: 0px;">ลูกค้า</div>
                    <div class="col" style="padding-left: 0px;">สถานะจ่ายเงิน</div>
                    <div class="col" style="padding-left: 40px;">สถานะออเดอร์</div>
                    <div class="col" style="padding-left: 30px;">รวม</div>
                </div>
            </div>



            <div class="card-table" style="margin: 30px 0px 0px -15px;">
                <div class="">
                    <div class="row text"
                        style="margin-top: 8px; display: grid; grid-template-columns: 1fr 2fr 2fr 1.5fr 2fr 1.5fr;">
                        <div class="col" style="padding-left: 20px;">#EF11152024</div>
                        <div class="col" style="padding-left: 40px;">Jan 12 2024 : 7.42 PM</div>
                        <div class="col" style="padding-left:22px; ">Jeeranan Pongpitak</div>
                        <div class="col" style="padding-left: 50px; ">ชำระเงินไม่สำเร็จ</div>
                        <div class="col" style="padding-left: 30px; ">คำสั่งซื้อถูกยกเลิก
                        </div>
                        <div class="col" style="padding-left: 30px;">5,200</div>
                    </div>
                </div>
            </div>
        </div>
    </div>