.round-image {
  border-radius: 50%;
  /* เพื่อทำให้รูปเป็นรูปร่างกลม */
  width: 120px;
  /* กำหนดความกว้างของรูป */
  height: 120px;
  /* กำหนดความสูงของรูป */
}

.color {
  background-color: #fafafa;
}

.custom-input {
  width: 450px;
  /* กำหนดความกว้างของ input */
  height: 50px;
  /* ความสูงของช่อง */
  border-radius: 13px;
  /* กำหนดการโค้งของขอบให้มีความโค้ง*/
}

.font {
  font-size: 16px;
  /* กำหนดขนาดตัวอักษร */
  font-weight: bold;
}

.fontad {
  font-size: 14px;
  /* กำหนดขนาดตัวอักษร */
  opacity: 60%;
  line-height: 0.5;
}

.linetop {
  border-top: 1px solid #e0e0e0;
  /* เส้นขีดแบ่ง*/
  width: 450px;
  border-width: 2px;
}

.linebottom {
  border-bottom: 1px solid #e0e0e0;
  /* เส้นขีดแบ่ง*/
  width: 450px;
  border-width: 2px;
}

.round-image {
  border-radius: 50%;
  /* เพื่อทำให้รูปเป็นรูปร่างกลม */
  width: 120px;
  /* กำหนดความกว้างของรูป */
  height: 120px;
  /* กำหนดความสูงของรูป */
}

.imageright {
  border-radius: 50%;
  /* เพื่อทำให้รูปเป็นรูปร่างกลม */
  width: 250px;
  /* กำหนดความกว้างของรูป */
  height: 250px;
  /* กำหนดความสูงของรูป */
}

.box-container {
  display: grid;
  // grid-template-columns: auto auto auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  flex-wrap: wrap;
  gap: 15;
  row-gap: 5px;
}

.container .box-container .box {
  padding: 30px 20px;
  margin: 8px;
}

.container .box-container .box .card-img-top {
  width: px;
  height: auto;
}

.round-button {
  width: 45px;
  height: 45px;
  color: #870000;
  background: #eeeeee;
  border-radius: 50%;
  border: none;
  transition: background 0.2s;
}

.round-button:hover {
  background: #bbb9b9;
}
