<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+Thai:wght@100..900&display=swap"
  rel="stylesheet">

<style>
  .color {
    background-color: #fafafa;
  }

  .custom-input {
    width: 450px;
    /* กำหนดความกว้างของ input */
    height: 50px;
    /* ความสูงของช่อง */
    border-radius: 13px;
    /* กำหนดการโค้งของขอบให้มีความโค้ง*/
  }

  .font {
    font-size: 16px;
    /* กำหนดขนาดตัวอักษร */
    font-weight: bold;
  }

  .fontad {
    font-size: 14px;
    /* กำหนดขนาดตัวอักษร */
    opacity: 60%;
    line-height: 0.5;
  }

  .linetop {
    border-top: 1px solid #e0e0e0;
    /* เส้นขีดแบ่ง*/
    width: 450px;
    border-width: 2px;
  }

  .linebottom {
    border-bottom: 1px solid #e0e0e0;
    /* เส้นขีดแบ่ง*/
    width: 450px;
    border-width: 2px;
  }



  .imageright {
    border-radius: 50%;
    /* เพื่อทำให้รูปเป็นรูปร่างกลม */
    width: 250px;
    /* กำหนดความกว้างของรูป */
    height: 250px;
    /* กำหนดความสูงของรูป */
  }

  .noto-sans {
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .noto-sans-bold {
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

  .imgs {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .box {
    width: 25%;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-3"><app-nav-profiile></app-nav-profiile></div>
    <div class="col-9 noto-sans-bold">
      <h1 style="margin-left: 10px; font-weight: 700; padding-bottom: 30px;">รายการโปรด</h1>

      <div class="container row">
          <div class="box col-3">
            <img src="..\assets\images\dunk-low-retro.png" class="card-img-top imgs" alt="..." />
            <div class="card-body">
              <b class="card-title font-inter" style="line-height: 300%;">Nike Duck Low Retro</b>
              <p class="card-text">฿ 3,700</p>
              <div style="float: right;padding-bottom: 15px;">
                <button type="button" class="round-button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
                    viewBox="0 0 16 16">
                    <path
                      d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <div class="box col-3">
            <img src="..\assets\images\air-max-90ขาว.png" class="card-img-top imgs" alt="..." />
            <div class="card-body">
              <b class="card-title" style="line-height: 300%;">Nike Air Max 90 White</b>
              <p class="card-text">฿ 4,300</p>
              <div style="float: right">
                <button type="button" class="round-button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
                    viewBox="0 0 16 16">
                    <path
                      d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <div class="box col-3">
            <img src="..\assets\images\air-max-solo.png" class="card-img-top imgs" alt="..." />
            <div class="card-body">
              <b class="card-title" style="line-height: 300%;">Nike Air Max Solo</b>
              <p class="card-text">฿ 3,700</p>
              <div style="float: right">
                <button type="button" class="round-button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
                    viewBox="0 0 16 16">
                    <path
                      d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <div class="box">
            <img src="..\assets\images\airforcerec1.png" class="card-img-top imgs" alt="..." />
            <div class="card-body">
              <b class="card-title" style="line-height: 300%;">Nike Air Force</b>
              <p class="card-text">฿ 3,700</p>
              <div style="float: right">
                <button type="button" class="round-button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
                    viewBox="0 0 16 16">
                    <path
                      d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                  </svg>
                </button>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
</div>