<div class="container sidebar">
    <div class="row">
        <div class="card-table1" style="margin-top: 17px; width: 100%;">
            <div class="">
                <div class="row"
                    style="margin-top: 8px; display: grid; grid-template-columns: 2fr 2fr 2fr 1.5fr 2fr 1.5fr;">
                    <div class="col " style="padding-left: 10px;">
                        หมายเลขคำสั่งซื้อ
                    </div>
                    <div class="col" style="padding-left: 5px;">วันที่</div>
                    <div class="col" style="padding-left: 0px;">ลูกค้า</div>
                    <div class="col" style="padding-left: 0px;">สถานะจ่ายเงิน</div>
                    <div class="col" style="padding-left: 40px;">วิธีการจัดส่ง</div>
                    <div class="col" style="padding-left: 30px;">กรอกรหัสพัสดุ</div>
                </div>
            </div>



            <div class="card-table" style="margin: 30px 0px 0px -15px;" *ngFor="let item of OrderList$ |async">
                <div class="">
                    <div class="row text" 
                        style="margin-top: 8px; display: grid; grid-template-columns: 1fr 2fr 2fr 1.5fr 2fr 1.5fr;">
                        <div class="col" style="padding-left: 20px;">#{{item.order_id}}</div>
                        <div class="col" style="padding-left: 40px;">{{item.createdDate}}</div>
                        <div class="col" style="padding-left: 60px; ">{{item.customer?.customer_name}}</div>
                        <div class="col" style="padding-left: 50px; ">{{item.order_status}}</div>
                        <div class="col" style="padding-left: 30px; ">
                        </div>
                        <div class="col" style="padding-left: 30px;">
                            <app-modal-tagging [item]="item"> </app-modal-tagging></div>
                    </div>
                </div>
            </div>
        </div>
    </div>