<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+Thai:wght@100..900&display=swap"
    rel="stylesheet">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>
    <div class="container px-1 px-md-4 py-5 mx-auto">
        <div class="card">
            <div class="row d-flex justify-content-between px-3 top">

                <div class="d-flex">
                    <h5 style="font-weight: bold;">Your Order <span
                            class="text-primary">#{{Order.order_id}}</span></h5>
                </div>
            </div>

            <!-- progress -->
            <div class="row d-flex justify-content-center" id="moveRight">
                <div class="col-12">
                    <ul id="progressbar" class="text-center">
                        <li [ngClass]="Order.order_status == 'กำลังจัดเตรียมสินค้า' ? 'active step0' : 'step0' "></li>
                        <li [ngClass]="Order.order_status == 'กำลังจัดส่ง' ? 'active step0' : 'step0' "></li>
                        <li [ngClass]="Order.order_status == 'จัดส่งสำเร็จ' ? 'active step0' : 'step0' "></li>

                    </ul>
                </div>
            </div>

            <div class="row justify-content-center top">
                <div class="col-md-4">
                    <div class="row d-flex icon-content justify-content-center">
                        <img src="..\assets\images\clock.png" alt
                            class="icon">
                        <div class="d-flex flex-column align-items-center">
                            <p
                                class="font-weight-bold">กำลังจัดเตรียมสินค้า</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row d-flex icon-content justify-content-center">
                        <img src="..\assets\images\delivery.png" alt
                            class="icon">
                        <div class="d-flex flex-column align-items-center">
                            <p
                                class="font-weight-bold">กำลังจัดส่ง</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row d-flex icon-content justify-content-center">
                        <img src="..\assets\images\check.png" alt
                            class="icon">
                        <div class="d-flex flex-column align-items-center">
                            <p
                                class="font-weight-bold">จัดส่งสำเร็จ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" id="cardDetailItem" *ngFor="let item of Order.orderItems">
            <div class="row">
                <span><h5
                        style="font-weight: bold; margin-left: 1rem; margin-top: 1rem;">Order
                        Details</h5></span>
                <div class="d-flex">
                    <div class="flex-fill">
                        <img
                            [src]="item.product_img_url![0]"
                            class="card-img-top"
                            alt="..." />
                    </div>
                    <div class="flex-fill">
                        <p>หมายเลขคำสั่งซื้อ</p>
                        <p>วันที่สั่งซื้อ</p>
                        <p>วันที่ชำระเงิน</p>
                        <p>วันที่ส่งสินค้า</p>
                    </div>
                    <div
                        class="flex-fill">
                        <p>{{Order.order_id}}</p>
                        <p>{{Order.createdDate}}</p>
                        <p>{{Order.payment?.createdDate}}</p>
                        <p>{{Order.shipment?.createdDate}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row float-end">
            <div class="col">
                <button type="button" class="btn btn-dark">ซื้ออีกครั้ง</button>
                <button type="button" class="btn btn-dark"
                    style="margin-left: 1rem;">กลับไปหน้าหลัก</button>
            </div>
        </div>

    </div>
</body>