body {
    overflow: hidden;
}

.card {
    z-index: 0;
    // padding-bottom: 20px;
    // margin-bottom: 90px;
    border-radius: 10px;
    // margin-top: 90px;
}

.top {
    padding-top: 10px;
    padding-left: 13% !important;
    padding-right: 13% !important;
}


#moveRight {
    transform: translateX(158px);
    /* ปรับค่าตามที่ต้องการ */
}

#progressbar {
    margin-bottom: 2px;
    overflow: hidden;
    color: #626262;
    padding-left: 0;
    margin-top: 30px;

}

#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar .step0::before {
    font-family: FontAwesome;
    content: '\f10c';
    color: #fff;
}

#progressbar li::before {
    width: 40px;
    height: 40px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    background: #c5cae9;
    border-radius: 50%;
    margin: auto;
    padding: 0;
}

// Progressbar connector
#progressbar li::after {
    content: '';
    width: 100%;
    height: 12px;
    background-color: #c5cae9;
    position: absolute;
    top: 16px;
    left: 0;
    z-index: -1;
}

#progressbar li:last-child::after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%;
}

#progressbar li:nth-child(2)::after,
#progressbar li:nth-child(3)::after {
    left: -50%;
}

#progressbar li:first-child::after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: 60%;
}

#progressbar li.active::before,
#progressbar li.active::after {
    background-color: #651fff;
}

#progressbar li.active::before {
    font-family: FontAwesome;
    content: '\f00c';
}

.icon {
    width: 60px;
    height: 60px;
    margin-right: 0;
    object-fit: contain;
}

.icon-content {
    padding-bottom: 20px;
}



.button-status {
    margin-top: 6rem;
    float: right;
}


.border-button {
    font-weight: bold;
    font-size: 14px;
    height: 50px;
    width: 182px;
    border-radius: 12px;
    background: #626262;
    border: none;
    color: azure;
}

#cardDetailItem {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 50%;
}

.card-img-top {
    width: 150px;
    height: auto;
    margin-left: 1rem;
}