<!-- font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+Thai:wght@100..900&display=swap"
    rel="stylesheet">

<style>
    .custom-upload-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #3498db;
        color: #fff;
        cursor: pointer;
        border-radius: 5px;
    }

    /* Hide the original file input */
    input[type="file"] {
        display: none;
    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btnok {
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .modal-content {
        box-shadow: 0px 0px 20px rgba(1, 1, 1, 1);
        /* เพิ่มเงาด้านของ modal */
        width: 400px;
        height: 470px;
        border-radius: 45px;
    }



    .noto-sans {
        font-family: "Noto Sans Thai", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }

    .noto-sans-bold {
        font-family: "Noto Sans Thai", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    }

    .btncustom {
        width: 100%;
        font-size: 15px;
    }

    .btncustomselect {
        width: 100%;

    }
</style>

<!-- Button trigger modal -->
<button type="button" (click)="this.OrderStore.createOrder()" [disabled]="cartStore.Total ==0"class="btn btn-lg btncustom noto-sans-bold"
    data-bs-toggle="modal" data-bs-target="#staticBackdrop"
    style="background-color: rgb(58, 88, 223); color: aliceblue;">
    สั่งซื้อ
</button>

<!-- <button type="button" class="btn btn-lg btncustom noto-sans-bold"
                            data-bs-toggle="modal" data-bs-target="#exampleModal"
                            style="background-color: rgb(58, 88, 223); color: aliceblue;">

                        </button> -->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="row " style="width: 400px; margin: 20px 0px 0px 130px;">
                <div class="col " style="width: 100px;">
                    <b class="modal-title" id="staticBackdropLabel">สแกน Qr Code</b>
                </div>
                <div class="col">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

            </div>
            <div class="modal-body img">
                <img src="..\assets\images\QrCode.png" class="img2" alt="..." />
            </div>
            <div>

                <div class="btnok row">
                    <input type="file" id="fileInput" (change)="this.OrderStore.onChange($event)" #fileUpload />



                    <label for="fileInput" class="custom-upload-button"
                        style="margin-bottom: 20px; width: 150px; background-color: rgb(58, 88, 223); color: aliceblue;"
                        data-bs-backdrop="static"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-send-arrow" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M15.854.146a.5.5 0 0 1 .11.54l-2.8 7a.5.5 0 1 1-.928-.372l1.895-4.738-7.494 7.494 1.376 2.162a.5.5 0 1 1-.844.537l-1.531-2.407L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM5.93 9.363l7.494-7.494L1.591 6.602z" />
                            <path fill-rule="evenodd"
                                d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-1.646a.5.5 0 0 1-.722-.016l-1.149-1.25a.5.5 0 1 1 .737-.676l.28.305V11a.5.5 0 0 1 1 0v1.793l.396-.397a.5.5 0 0 1 .708.708z" />
                        </svg>อัปโหลดไฟล์</label>
                    <div><a>{{this.OrderStore.file?.name}}</a></div>
                </div>

                <div class="btnok">
                    <!-- <button type="button" class="btn btn-secondary" (click)="this.OrderStore.AddPaymenImg()"
                        style="background-color: #FED470 ;  color: black; border-color: #FED470; margin-bottom: 20px; width: 133px"
                        data-bs-dismiss="modal" data-bs-target="#sendFile">ตกลง
                    </button> -->
                    <div type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        (click)="this.OrderStore.AddPaymenImg()"
                        style="background-color: #FED470 ;  color: black; border-color: #FED470; margin-bottom: 20px; width: 133px">
                        ตกลง
                </div>
                </div>
            </div>

        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="sendFileLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="row " style="width: 400px; margin: 40px 0px 0px 40px;">
                <div class="col-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#E95C00" class="bi bi-clock"
                        viewBox="0 0 16 16">
                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71"
                            stroke="#E95C00" stroke-width="0.3" />
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" stroke="#E95C00"
                            stroke-width="0.3" />
                    </svg>

                </div>
                <div class="col-10">
                    <b style=" font-size: 22px;" class="modal-title" id="sendFileLabel">รอยืนยันการชำระเงิน</b>
                </div>
                <!-- <div class="col">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div> -->

            </div>
            <div class="modal-body img">
                <img style="width: 40%; margin-top: -20%;" src="..\assets\images\cart.png" class="img2" alt="..." />
            </div>
            <div class="btnok" >
                <button type="button" data-bs-dismiss="modal" routerLink="/order-history" routerLinkActive="active" style=" margin-bottom: 55px; margin-top: -40px;  width:180px; height: 45px;"
                    class="btn btn-primary" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-send-arrow" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15.854.146a.5.5 0 0 1 .11.54l-2.8 7a.5.5 0 1 1-.928-.372l1.895-4.738-7.494 7.494 1.376 2.162a.5.5 0 1 1-.844.537l-1.531-2.407L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM5.93 9.363l7.494-7.494L1.591 6.602z" />
                        <path fill-rule="evenodd"
                            d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-1.646a.5.5 0 0 1-.722-.016l-1.149-1.25a.5.5 0 1 1 .737-.676l.28.305V11a.5.5 0 0 1 1 0v1.793l.396-.397a.5.5 0 0 1 .708.708z" />
                    </svg> ดูคำสั่งซื้อของคุณ </button>

            </div>
            <div class="btnok">
                <button type="button" class="btn btn-secondary "
                    style="background-color: #FED470 ;  margin-top: -10%; color: black; border-color: #FED470; margin-bottom: 35px; width: 180px; height: 45px;"
                    data-bs-dismiss="modal" routerLink="/Main" >กลับไปหน้าหลัก</button>

            </div>
        </div>
    </div>
</div>