<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Noto+Sans+Thai:wght@100..900&display=swap"
    rel="stylesheet">

<div class="sidebar">
    <h1 class="inter">Order Management</h1>
    <h6 class="card-subtitle mb-2 text-muted text noto-sansthai-medium" style="font-size: larger;">
        ตัวดำเนินการออร์เดอร์</h6>

    <div class="card" style="margin-top: 45px;" routerLink="/store-history" routerLinkActive="active">
        <div class="card-body d-flex">
            <div class="row">
                <div class="col" style="margin-top: -4px ;">
                    <h6 class="textp noto-sansthai-medium pt-1" > <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                            fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
                            <path
                                d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1M3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z" />
                        </svg> ประวัติการขาย (ใบเสร็จ)</h6>

                </div>
            </div>
        </div>



    </div>
    <!-- table -->
    <nav style="padding-top: 50px;" >
        <div class="nav  noto-sansthai-thin" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" (click)="this.GetAllInOrder()"
                type="button" role="tab" aria-controls="nav-home" aria-selected="true">ชำระเงินแล้วรอตรวจสอบ</button>

            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" (click)="this.GetOrderInShipment()"
                type="button" role="tab" aria-controls="nav-profile"
                aria-selected="false">จัดเตรียมพัสดุ/กรอกเลขพัสดุ</button>

            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" (click)="this.GetOnShipment()"
                type="button" role="tab" aria-controls="nav-contact" aria-selected="false">กำลังจัดส่ง</button>

            <button class="nav-link" id="final-tab" data-bs-toggle="tab" data-bs-target="#final" type="button"
                role="tab" aria-controls="nav-profile" aria-selected="false">จัดส่งสำเร็จ</button>
        </div>

        <div class="noto-sansthai-medium" style="margin-top: -5px;">
            <button class="btn text-start" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg> ค้นหา</button>


        </div>
    </nav>

    <div class="row tab-content  noto-sansthai-medium" id="nav-tabContent" >
        <div class="tab-pane fade show active  noto-sansthai-medium" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <app-await-verification></app-await-verification>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <app-tagging-number></app-tagging-number>

        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <app-shipping></app-shipping>
        </div>
        <div class="tab-pane fade" id="final" role="tabpanel" aria-labelledby="nav-contact-tab">
            <app-delivered></app-delivered>
        </div>
    </div>

    <style>
        .noto-sansthai-bold {
            font-family: "Noto Sans Thai", sans-serif;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
            font-variation-settings: "width" 100;
        }


        .noto-sansthai-thin {
            font-family: "Noto Sans Thai", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings: "width" 100;
        }

        .noto-sansthai-medium {
            font-family: "Noto Sans Thai", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
            font-variation-settings: "width" 100;
        }


        .inter {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
            font-variation-settings:
                "slnt" 0;
        }
    </style>