<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

<div
    style="padding-left: 60px; padding-top: 36px; padding-right: 60px; padding-bottom: 36px; background-image: url(https://media.discordapp.net/attachments/884802070241247342/1211238542597165076/bg2.png?ex=65ed78cc&is=65db03cc&hm=1eab03ff656f584e9434104679948d78a662297dec41ee8616793a1443c75496&=&format=webp&quality=lossless&width=1192&height=662);  display: flex; justify-content: center;">

    <div class="card rounded-5" style="border-color: black; box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 30);">
        <div class="row">
            <div class="col-6" style="padding-top: 2px;">
                <img src="..\assets\images\loginimage1.png" class="rounded-start-5" alt="..." />
            </div>
            <div class="col-6">
                <h1 style="margin-left: 190px; margin-top: 80px;">Sign up</h1>

                <div class="row">

                    <div style="padding-top: 30px; padding-left: 60px; width: 30rem">
                        <div class="col ">
                            <input type="email" class="form-control btnn" placeholder="Email" aria-label="Email">
                        </div>
                        <div class="row g-3" style="padding-top: 5%;">
                            <div class="col">
                                <input type="text" class="form-control btnn" placeholder="First Name"
                                    aria-label="First Name">
                            </div>
                            <div class="col ">
                                <input type="text" class="form-control btnn" placeholder="Last Name"
                                    aria-label="Last Name">
                            </div>

                        </div>
                        <div class="col" style="padding-top: 5%;">
                            <input type="password" class="form-control btnn" placeholder="Password"
                                aria-label="Password">
                        </div>
                        <div class="col" style="padding-top: 5%;">
                            <input type="password" class="form-control btnn" placeholder="Password again"
                                aria-label="Password again">
                        </div>
                    </div>

                </div>
                <!-- <div  style="padding-top: 60px;"></div> -->

                <div class="row">
                    <div class="d-grid gap-2 d-md-flex "
                        style="padding-right: 30px; padding-top: 20px; padding-left: 60px;">
                        <button type="button"
                            style="background-color: #2e2e2e; color: #FFFFFF; width: 32%; border-radius: 10px;">Sign
                            Up</button>
                        <button class="btn " type="button"
                            style=" width: 16%; font-weight: 100px; margin-left: 100px;">Or Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<style>
    .btnn {
        border: 1px solid rgba(0, 0, 0, 0.393);
        /* เส้นขอบสีดำ */
        background-color: #0000001a;
        border-radius: 1px;
    }

    img {
        max-width: 100%;
        /* ภาพจะไม่มีขนาดใหญ่เกินพื้นที่ที่ต้องการ */
        height: 90vh;
        /* ความสูงจะปรับให้เหมาะสมอัตโนมัติ */
    }

    .img2 {
        max-width: 55%;
        height: auto;
        padding-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        height: 90vh;
        width: 90%;
        justify-content: center;
    }

    .form1 {
        padding-left: 50px;
        padding-right: 50px;
    }

    .font-inter {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings: "slnt" 0;
    }

    .linetop {
        border-top: 5px solid #bebebe;
        width: 60%;
        border-width: 1px;
        margin-left: auto;
        margin-right: auto;
    }

    .text-danger {
        position: fixed;
    }
</style>