.img {
    height: auto;
    max-width: 100%;
    margin-top: 20px;
}

.card {
    width: 17rem;
    height: 75px;
    float: right;
    border-radius: 25px;
    margin-right: 30px;
    margin-top: 20px;
    background-color: #dcdcdc;
    border: #dcdcdc;
}

.card-img {
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin-top: -12px;
    padding-right: 10px;
    // margin-left: 180px;
    // margin-bottom: 120px;
}

.text {
    margin-left: 55px;
    font-size: 15px;
}

nav {
    position: absolute;
    // overflow: hidden;


}