<div class="sidebar">
    <h1>Store Order History</h1>
    <h6 class="card-subtitle mb-2 text-muted text">
        ประวัติการขาย (ใบเสร็จ)</h6>
    <div style="margin-top: 30px;">

        <h5><svg xmlns="http://www.w3.org/2000/svg" width="50" height="80"
                fill="green"
                class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                <path
                    d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1" />
            </svg> กลับไปหน้าดำเนินการออร์เดอร์</h5>
    </div>

    <!-- table -->
    <nav style="padding-top: 10px; ">
        <div class="nav " id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab"
                data-bs-toggle="tab" data-bs-target="#nav-home"
                type="button" role="tab" aria-controls="nav-home"
                aria-selected="true">คำสั่งซ์้อสำเร็จ</button>

            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                data-bs-target="#nav-profile"
                type="button" role="tab" aria-controls="nav-profile"
                aria-selected="false"
                style="margin-left: 80px;">คำสั่งซื้อถูกยกเลิก</button>

        </div>

        <div style="margin-top: -5px;">
            <button class="btn text-start" type="button"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg> ค้นหา</button>

        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
            aria-labelledby="nav-home-tab">
            <app-derivered-history></app-derivered-history>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel"
            aria-labelledby="nav-profile-tab">

            <app-order-canceled></app-order-canceled>
        </div>

    </div>