.sidebar {
    margin-left: 100px;
    margin-right: 10px;
    padding-top: 20px;
}

.card {
    width: 15rem;
    height: 50px;
    border-radius: 12px;
    margin-right: 30px;
    margin-top: 20px;
    background-color: rgb(39, 39, 213);
    border: #dcdcdc;
}

.textp {
    font-size: 15px;
    color: white;
    font-size: 17px;
}

.nav-link {
    border-bottom: 2px solid transparent;
    color: black;
    /* กำหนดเส้นใต้เริ่มต้นเป็นสีโปร่งๆ */
    transition: border-color 0.3s;
    /* เพื่อให้มีการเปลี่ยนสีเส้นใต้เมื่อ hover */
}

.nav-link.active {
    border-color: rgb(43, 43, 255);
    color: rgb(43, 43, 255);
    /* กำหนดสีของเส้นใต้เมื่อปุ่มมีสถานะ active */
}

.btn {
    background-color: #dcdcdc;
    border-radius: 20px;
    width: 17rem;
    margin-top: 30px;
    opacity: 0.5;

}

.card-table {
    width: 80%;
    height: 45px;
    border-radius: 15px;
    margin-right: 30px;
    margin-top: 20px;
    background-color: #dcdcdc;
    border: #dcdcdc;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin-top: 45px;
    color: rgb(87, 87, 87);

}

.textpp {
    font-size: 15px;
    color: gray;
    font-size: 17px;
}

// .navbar {
//     padding-left: 70px;
// }