<div>
    <nav class="nav flex-column col-md-auto">
        <a class="nav-link" href="#">สำหรับผู้ชาย</a>
        <br/>
        <a class="nav-link" href="#">ไลฟ์สไตล์</a>
        <a class="nav-link" href="#">วิ่ง</a>
        <a class="nav-link" href="#">บาสเก็ตบอล</a>
        <a class="nav-link" href="#">ฟุตบอล</a>
        <a class="nav-link" href="#">Jordan</a>
        <a class="nav-link" href="#">สเก็ตบอร์ด</a>
        <a class="nav-link" href="#">กอล์ฟ</a>
        <a class="nav-link" href="#">เทนนิส</a>
        <a class="nav-link" href="#">กรีฑา</a>
        <a class="nav-link" href="#">เดิน</a>
    </nav>
</div>
<br/>
<div>
    <div class="list-group">
        <label class="list-group-item d-flex gap-3">
      <span class="pt-1 form-checked-content">
        <strong>เลือกซื้อตามราคา</strong>
      </span>
      </label>
        <label class="list-group-item d-flex gap-3">
        <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked="" style="font-size: 1.375em;">
        <span class="pt-1 form-checked-content">
          <strong>ต่ำกว่า ฿2,000</strong>
        </span>
      </label>
        <label class="list-group-item d-flex gap-3">
        <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
        <span class="pt-1 form-checked-content">
          <strong>฿2,000 - ฿4,000</strong>
        </span>
      </label>
        <label class="list-group-item d-flex gap-3">
        <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
        <span class="pt-1 form-checked-content">
          <strong>฿4,000 - ฿8,000</strong>
        </span>
      </label>
        <label class="list-group-item d-flex gap-3">
        <input class="form-check-input flex-shrink-0" type="checkbox" value="" style="font-size: 1.375em;">
        <span class="pt-1 form-checked-content">
          <strong>สูงกว่า ฿8,000</strong>
        </span>
      </label>
    </div>
</div>
